adal==1.2.7
aiodns==3.1.1
aiohttp==3.9.1
aiosignal==1.3.1
appdirs==1.4.4
arcp==0.2.1
argcomplete==3.1.4
asgiref==3.7.2
async-timeout==4.0.3
attrs==23.2.0
Automat==22.10.0
avro==1.11.1
azure-agrifood-farming==1.0.0b3
azure-ai-anomalydetector==3.0.0b7
azure-ai-contentsafety==1.0.0b2
azure-ai-formrecognizer==3.3.0b1
azure-ai-language-conversations==1.1.1
azure-ai-language-questionanswering==1.1.1
azure-ai-metricsadvisor==1.1.0
azure-ai-ml==1.9.0
azure-ai-personalizer==1.0.0b2
azure-ai-textanalytics==5.3.1
azure-ai-translation-document==1.0.1
azure-ai-translation-text==1.0.0b2
azure-appconfiguration==1.4.1
azure-appconfiguration-provider==1.0.1
azure-applicationinsights==0.1.1
azure-batch==14.0.0
azure-cognitiveservices-anomalydetector==0.3.0
azure-cognitiveservices-formrecognizer==0.1.1
azure-cognitiveservices-knowledge-qnamaker==0.3.0
azure-cognitiveservices-language-luis==0.7.0
azure-cognitiveservices-language-spellcheck==2.0.0
azure-cognitiveservices-language-textanalytics==0.2.1
azure-cognitiveservices-personalizer==0.1.0
azure-cognitiveservices-search-autosuggest==0.2.0
azure-cognitiveservices-search-customimagesearch==0.2.0
azure-cognitiveservices-search-customsearch==0.3.0
azure-cognitiveservices-search-entitysearch==2.0.0
azure-cognitiveservices-search-imagesearch==2.0.0
azure-cognitiveservices-search-newssearch==2.0.0
azure-cognitiveservices-search-videosearch==2.0.0
azure-cognitiveservices-search-visualsearch==0.2.0
azure-cognitiveservices-search-websearch==2.0.0
azure-cognitiveservices-vision-computervision==0.9.0
azure-cognitiveservices-vision-contentmoderator==1.0.0
azure-cognitiveservices-vision-customvision==3.1.0
azure-cognitiveservices-vision-face==0.6.0
azure-common==1.1.29
azure-communication-callautomation==1.0.0b1
azure-communication-chat==1.2.0b1
azure-communication-email==1.0.1
azure-communication-identity==1.4.0b2
azure-communication-jobrouter==1.0.0b1
azure-communication-networktraversal==1.1.0b2
azure-communication-phonenumbers==1.1.1
azure-communication-rooms==1.0.0
azure-communication-sms==1.1.0
azure-confidentialledger==1.1.0
azure-containerregistry==1.1.1
azure-core==1.28.0
azure-core-experimental==1.0.0b3
azure-data-tables==12.4.4
azure-defender-easm==1.0.0b2
azure-developer-devcenter==1.0.0b3
azure-developer-loadtesting==1.0.1
azure-digitaltwins-core==1.2.1
azure-eventgrid==4.13.1
azure-eventhub==5.11.3
azure-eventhub-checkpointstoreblob==1.2.0
azure-eventhub-checkpointstoreblob-aio==1.2.0
azure-eventhub-checkpointstoretable==1.0.0b1
azure-graphrbac==0.61.1
azure-healthinsights-cancerprofiling==1.0.0b1.post1
azure-healthinsights-clinicalmatching==1.0.0b1.post1
azure-identity==1.14.0b2
azure-iot-deviceprovisioning==1.0.0b1
azure-iot-deviceupdate==1.0.1
azure-iot-modelsrepository==1.0.0b2
azure-keyvault==4.2.1b1
azure-keyvault-administration==4.4.0b2
azure-keyvault-certificates==4.8.0b2
azure-keyvault-keys==4.9.0b2
azure-keyvault-secrets==4.8.0b2
azure-loganalytics==0.1.2
azure-maps-geolocation==1.0.0b2
azure-maps-render==1.0.0b2
azure-maps-route==1.0.0b2
azure-maps-search==1.0.0b2
azure-media-analytics-edge==1.0.0b2
azure-media-videoanalyzer-edge==1.0.0b4
azure-messaging-webpubsubclient==1.0.0b1
azure-messaging-webpubsubservice==1.1.0b2
azure-mgmt-advisor==10.0.0b1
azure-mgmt-agrifood==1.0.0b3
azure-mgmt-alertsmanagement==2.0.0b2
azure-mgmt-apimanagement==4.0.0
azure-mgmt-app==1.0.0b2
azure-mgmt-appcomplianceautomation==1.0.0b1
azure-mgmt-appconfiguration==3.0.0
azure-mgmt-appcontainers==3.0.0b1
azure-mgmt-applicationinsights==4.0.0
azure-mgmt-appplatform==8.0.0
azure-mgmt-attestation==2.0.0b1
azure-mgmt-authorization==3.1.0b1
azure-mgmt-automanage==2.0.0b1
azure-mgmt-automation==1.1.0b3
azure-mgmt-avs==7.2.0b1
azure-mgmt-azurearcdata==2.0.0b1
azure-mgmt-azurestack==2.0.0b1
azure-mgmt-azurestackhci==8.0.0b2
azure-mgmt-baremetalinfrastructure==1.1.0b1
azure-mgmt-batch==17.0.0
azure-mgmt-batchai==7.0.0b1
azure-mgmt-billing==6.1.0b1
azure-mgmt-billingbenefits==1.0.0b1
azure-mgmt-botservice==2.0.0
azure-mgmt-cdn==12.1.0b1
azure-mgmt-changeanalysis==1.0.0
azure-mgmt-chaos==1.0.0b6
azure-mgmt-cognitiveservices==13.4.0
azure-mgmt-commerce==6.1.0b1
azure-mgmt-communication==2.0.0
azure-mgmt-compute==30.0.0
azure-mgmt-confidentialledger==2.0.0b3
azure-mgmt-confluent==2.0.0b2
azure-mgmt-connectedvmware==1.0.0b3
azure-mgmt-consumption==11.0.0b1
azure-mgmt-containerinstance==10.1.0
azure-mgmt-containerregistry==10.1.0
azure-mgmt-containerservice==24.0.0
azure-mgmt-containerservicefleet==1.0.0b1
azure-mgmt-core==1.4.0
azure-mgmt-cosmosdb==10.0.0b1
azure-mgmt-cosmosdbforpostgresql==1.0.0b1
azure-mgmt-costmanagement==4.0.0
azure-mgmt-customproviders==1.1.0b1
azure-mgmt-dashboard==1.1.0b1
azure-mgmt-databox==2.0.0
azure-mgmt-databoxedge==2.0.0b1
azure-mgmt-databricks==2.0.0
azure-mgmt-datadog==2.1.0b1
azure-mgmt-datafactory==3.1.0
azure-mgmt-datalake-analytics==1.0.0b2
azure-mgmt-datalake-store==1.1.0b1
azure-mgmt-datamigration==10.1.0b1
azure-mgmt-dataprotection==1.1.0
azure-mgmt-datashare==1.1.0b1
azure-mgmt-defendereasm==1.0.0b1
azure-mgmt-deploymentmanager==2.0.0b1
azure-mgmt-desktopvirtualization==1.0.0
azure-mgmt-devcenter==1.0.0
azure-mgmt-devhub==1.0.0b1
azure-mgmt-deviceupdate==1.1.0b1
azure-mgmt-devspaces==1.0.0b2
azure-mgmt-devtestlabs==10.0.0b1
azure-mgmt-digitaltwins==6.4.0
azure-mgmt-dns==8.1.0
azure-mgmt-dnsresolver==1.1.0b1
azure-mgmt-documentdb==0.1.3
azure-mgmt-dynatrace==1.1.0b1
azure-mgmt-edgegateway==0.1.0
azure-mgmt-edgeorder==2.0.0b1
azure-mgmt-education==1.0.0b2
azure-mgmt-elastic==1.1.0b3
azure-mgmt-elasticsan==1.0.0b1
azure-mgmt-eventgrid==10.3.0b2
azure-mgmt-eventhub==11.0.0
azure-mgmt-extendedlocation==1.2.0b1
azure-mgmt-fluidrelay==1.1.0b1
azure-mgmt-frontdoor==1.1.0
azure-mgmt-graphservices==1.0.0
azure-mgmt-guestconfig==1.0.0b2
azure-mgmt-hanaonazure==1.1.0b1
azure-mgmt-hdinsight==9.0.0b1
azure-mgmt-healthbot==1.0.0b2
azure-mgmt-healthcareapis==1.2.0b1
azure-mgmt-hybridcompute==8.0.0
azure-mgmt-hybridcontainerservice==1.0.0b1
azure-mgmt-hybridkubernetes==1.2.0b1
azure-mgmt-hybridnetwork==2.0.0b1
azure-mgmt-imagebuilder==1.2.0
azure-mgmt-iotcentral==10.0.0b2
azure-mgmt-iothub==2.4.0
azure-mgmt-iothubprovisioningservices==1.2.0b2
azure-mgmt-keyvault==10.2.2
azure-mgmt-kubernetesconfiguration==3.0.0
azure-mgmt-kusto==3.1.0
azure-mgmt-labservices==2.1.0b1
azure-mgmt-loadtesting==1.0.0
azure-mgmt-loganalytics==13.0.0b6
azure-mgmt-logic==10.1.0b1
azure-mgmt-logz==1.1.0b1
azure-mgmt-machinelearningcompute==1.0.0b2
azure-mgmt-machinelearningservices==2.0.0b2
azure-mgmt-maintenance==2.1.0b2
azure-mgmt-managednetworkfabric==1.0.0b1
azure-mgmt-managedservices==7.0.0b1
azure-mgmt-managementgroups==1.1.0b1
azure-mgmt-managementpartner==1.1.0b1
azure-mgmt-maps==2.1.0b1
azure-mgmt-marketplaceordering==1.2.0b1
azure-mgmt-media==10.2.0
azure-mgmt-mixedreality==1.1.0b1
azure-mgmt-mobilenetwork==2.0.0
azure-mgmt-monitor==6.0.1
azure-mgmt-msi==7.1.0b1
azure-mgmt-netapp==10.0.0
azure-mgmt-network==23.1.0
azure-mgmt-networkcloud==1.0.0b1
azure-mgmt-networkfunction==1.0.0b1
azure-mgmt-newrelicobservability==1.0.0
azure-mgmt-nginx==2.1.0
azure-mgmt-notificationhubs==8.1.0b1
azure-mgmt-oep==1.0.0b2
azure-mgmt-operationsmanagement==2.0.0b1
azure-mgmt-orbital==2.0.0
azure-mgmt-paloaltonetworksngfw==1.0.0b2
azure-mgmt-peering==2.0.0b1
azure-mgmt-policyinsights==1.1.0b4
azure-mgmt-portal==1.1.0b1
azure-mgmt-powerbidedicated==1.1.0b1
azure-mgmt-powerbiembedded==2.0.0
azure-mgmt-privatedns==1.1.0
azure-mgmt-purview==1.1.0b1
azure-mgmt-quantum==1.0.0b3
azure-mgmt-qumulo==1.0.0
azure-mgmt-quota==1.0.0
azure-mgmt-rdbms==10.2.0b10
azure-mgmt-recoveryservices==2.4.0
azure-mgmt-recoveryservicesbackup==6.0.0
azure-mgmt-recoveryservicessiterecovery==1.0.0
azure-mgmt-redhatopenshift==1.3.0b1
azure-mgmt-redis==14.2.0
azure-mgmt-redisenterprise==2.1.0b2
azure-mgmt-regionmove==1.0.0b1
azure-mgmt-relay==2.0.0b1
azure-mgmt-reservations==2.3.0
azure-mgmt-resource==23.1.0b2
azure-mgmt-resourceconnector==1.0.0b4
azure-mgmt-resourcegraph==8.1.0b3
azure-mgmt-resourcehealth==1.0.0b4
azure-mgmt-resourcemover==1.1.0b3
azure-mgmt-scheduler==7.0.0b1
azure-mgmt-scvmm==1.0.0b2
azure-mgmt-search==9.0.0
azure-mgmt-security==5.0.0
azure-mgmt-securitydevops==1.0.0b2
azure-mgmt-securityinsight==2.0.0b2
azure-mgmt-selfhelp==1.0.0
azure-mgmt-serialconsole==1.1.0b1
azure-mgmt-servermanager==2.0.0
azure-mgmt-servicebus==8.2.0
azure-mgmt-servicefabric==2.1.0b1
azure-mgmt-servicefabricmanagedclusters==2.0.0b4
azure-mgmt-servicelinker==1.2.0b1
azure-mgmt-servicenetworking==1.0.0b2
azure-mgmt-signalr==1.2.0
azure-mgmt-sql==4.0.0b11
azure-mgmt-sqlvirtualmachine==1.0.0b6
azure-mgmt-storage==21.1.0b1
azure-mgmt-storagecache==1.5.0
azure-mgmt-storageimportexport==1.0.0b2
azure-mgmt-storagemover==1.0.0
azure-mgmt-storagepool==1.1.0b1
azure-mgmt-storagesync==2.0.0b1
azure-mgmt-streamanalytics==2.0.0b1
azure-mgmt-subscription==3.2.0b1
azure-mgmt-support==6.1.0b1
azure-mgmt-synapse==2.1.0b7
azure-mgmt-testbase==1.0.0b2
azure-mgmt-timeseriesinsights==2.0.0b1
azure-mgmt-trafficmanager==1.1.0
azure-mgmt-videoanalyzer==1.0.0b4
azure-mgmt-vmwarecloudsimple==1.0.0b2
azure-mgmt-voiceservices==1.0.0
azure-mgmt-web==7.1.0
azure-mgmt-webpubsub==1.1.0
azure-mgmt-workloadmonitor==1.0.0b4
azure-mgmt-workloads==1.0.0
azure-mixedreality-authentication==1.0.0b2
azure-mixedreality-remoterendering==1.0.0b2
azure-monitor-ingestion==1.0.3
azure-monitor-opentelemetry-exporter==1.0.0b14
azure-monitor-query==1.2.1
azure-openai==1.0.0b1
azure-purview-administration==1.0.0b2
azure-purview-catalog==1.0.0b5
azure-purview-scanning==1.0.0b3
azure-purview-sharing==1.0.0b2
azure-purview-workflow==1.0.0b1
azure-schemaregistry==1.3.0b2
azure-schemaregistry-avroencoder==1.0.1
azure-search-documents==11.4.0b4
azure-security-attestation==1.1.0
azure-servicebus==7.11.1
azure-servicefabric==8.2.0.0
azure-servicemanagement-legacy==0.20.7
azure-storage-blob==12.17.0
azure-storage-blob-changefeed==12.0.0b5
azure-storage-file-datalake==12.12.0
azure-storage-file-share==12.13.0
azure-storage-queue==12.7.0b1
azure-synapse==0.1.1
azure-synapse-accesscontrol==0.8.0
azure-synapse-artifacts==0.16.1
azure-synapse-managedprivateendpoints==0.5.0
azure-synapse-monitoring==0.3.0
azure-synapse-spark==0.8.0
azure-template==0.0.18b3
Babel==2.10.3
bcrypt==3.2.2
beautifulsoup4==4.12.3
biopython==1.83
black==24.2.0
blinker==1.7.0
boto3==1.34.46
botocore==1.34.46
CacheControl==0.14.0
cachetools==5.3.0
certifi==2023.11.17
chardet==5.2.0
click==8.1.6
cloud-init==25.2
colorama==0.4.6
coloredlogs==15.0.1
command-not-found==0.3
ConfigArgParse==1.7
configobj==5.0.8
connection-pool==0.0.3
constantly==23.10.4
cryptography==41.0.7
cssselect==1.2.0
cwl-upgrader==1.2.11
cwl-utils==0.32
cwltool==3.1.20240112164112
datrie==0.8.2
dbus-python==1.3.2
decorator==5.1.1
distro==1.9.0
distro-info==1.7+build1
docutils==0.20.1
dpath==2.1.6
dropbox==11.36.2
fastjsonschema==2.19.0
filelock==3.13.1
Flask==3.0.2
freetype-py==2.4.0
frozenlist==1.4.0
ftputil==5.1.0
gevent==24.2.1
gitdb==4.0.11
GitPython==3.1.37
google-auth==1.5.1
greenlet==3.0.3
gyp==0.1
html5lib==1.1
httplib2==0.20.4
humanfriendly==10.0
hyperlink==21.0.0
idna==3.6
incremental==22.10.0
iniconfig==1.1.1
isodate==0.6.1
itsdangerous==2.1.2
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.3.2
jsonpatch==1.32
jsonpointer==2.0
jsonschema==4.10.3
jupyter_core==5.3.2
kubernetes==22.6.0
launchpadlib==1.11.0
lazr.restfulclient==0.14.6
lazr.uri==1.0.6
lxml==5.2.1
markdown-it-py==3.0.0
MarkupSafe==2.1.5
marshmallow==3.20.1
mccabe==0.7.0
mdurl==0.1.2
mistune==3.0.2
msal==1.26.0
msal-extensions==1.1.0
msgpack==1.0.3
msrest==0.6.21
msrestazure==0.6.4
multidict==6.0.4
mypy-extensions==1.0.0
nbformat==5.9.1
netifaces==0.11.0
networkx==2.8.8
numpy==1.26.4
oauthlib==3.2.2
olefile==0.46
packaging==24.0
paramiko==2.12.0
pathspec==0.12.1
pillow==10.2.0
pipx==1.4.3
plac==1.4.1
platformdirs==4.2.0
pluggy==1.4.0
ply==3.11
portalocker==2.2.1
prettytable==3.6.0
prov==2.0.0
psutil==5.9.8
PuLP==2.7.0
py==1.11.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyasyncore==1.0.2
pycairo==1.25.1
pycares==4.4.0
pycodestyle==2.11.1
pycurl==7.45.3
pydot==1.4.2
pyflakes==3.2.0
Pygments==2.17.2
PyGObject==3.48.2
PyHamcrest==2.1.0
pyinotify==0.9.6
PyJWT==2.7.0
PyNaCl==1.5.0
pyOpenSSL==23.2.0
pyparsing==3.1.1
pyrsistent==0.20.0
pyserial==3.5
pytest==7.4.4
python-apt==2.7.7+ubuntu5.1
python-dateutil==2.8.2
python-irodsclient==0.8.1
pytz==2024.1
PyYAML==6.0.1
ratelimiter==1.2.0.post0
rdflib==6.1.1
reportlab==4.1.0
requests==2.31.0
requests-oauthlib==1.3.1
retry==0.9.2
rich==13.7.1
rlPyCairo==0.3.0
roman==3.3
rsa==4.9
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.8
s3transfer==0.10.1
schema-salad==8.5.20240102191335
service-identity==24.1.0
setuptools==68.1.2
shellescape==3.4.1
simplejson==3.19.2
six==1.16.0
smart-open==5.2.1
smmap==6.0.0
snakemake==7.32.4
soupsieve==2.5
SPARQLWrapper==1.8.5
spython==0.3.13
stone==3.3.1
stopit==1.1.2
strictyaml==1.6.1
systemd-python==235
tabulate==0.8.10
throttler==1.2.2
toposort==1.10
tqdm==0.0.0
traitlets==5.5.0
Twisted==24.3.0
typing_extensions==4.10.0
ubuntu-drivers-common==0.0.0
ubuntu-pro-client==8001
unattended-upgrades==0.1
urllib3==2.0.7
userpath==1.9.1
wadllib==1.3.6
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.7.0
Werkzeug==3.0.1
wheel==0.42.0
wrapt==1.15.0
xkit==0.0.0
yappi==1.4.0
yarl==1.8.2
yte==1.5.1
zope.event==5.0
zope.interface==6.1
